body{ /*alt gr +4 pour faire une accolade { */
    font-family: 'Open sans Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'chilanka',cursive;
}
p{
    font-family: 'Dancing Script', cursive;
}