body{
    font-family: cursive;
}

#contenu{
    width: 80%;
    margin: 10px auto;
    background-color: rgb(241, 208, 238); /* le style est surchargé (écrasé) plus bas*/
    border: 2px solid black; 
}

header, footer{
    height: 80px;
    background-color: rgb(193, 175, 231);
    color: rgb(112, 109, 109);
    text-align: center;
    padding-top: 6px;
}

nav{
    height: 40px;
    background: rgb(159, 246, 246);
    color: rgb(78, 38, 78);
    padding-left: 20px;
    padding-top: 6px;
}

section{
    border: 20px solid salmon;
    background-color: burlywood;
    height: 500px;
    text-align: center;
}

p{
    margin: 0;
}