body{
    font-family: sans-serif;
    font-size: 1.5rem;
}
ul{
    list-style: none;/*retir les puces*/
    float: left;
    margin: 0;
    padding: 0;
}
.left, .right{
    margin-top: 5em;
}
.left ul{
    margin-top: 3.2em 0 0 0;
}
.left ul li{
      border-bottom: 1px solid #CCCCCC;
      border-left: 1px solid #CCCCCC;
      padding: 1em;
      width: 10em;
}
.left ul li:first-child{
    border-bottom: 1px solid #CCCCCC;
}
ul .liste li{
    border-left: 1px solid #CCCCCC;
}
.right .change ul li{
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 1em;
    width: 10em;
    text-align: center;
}
.right .change ul li:first-child{
    background-color: #5D5D5D;
    color: #FFFFFF;
    font-weight: bold;
}
.right .change ul li:first-child{
    border-bottom: 1px solid #CCCCCC;
}
.right .change ul:hover{
    background: linear-gradient(#D5D5D5, #8A8A8A);/*dégradé de couleur du plus clair en haut au plus foncé en bas*/
    cursor: pointer;/*changement de l'affichage du curseur*/
    transform: scale(1.4); /* échelle de zoom */
    transition-duration: 2s; /*duréé de l'animation*/
}
.right .change ul:hover li:first-child{
                background-color: #000000;
}
.change:hover{
    color: #B9F2FF;
}
.change:hover #gold{
    color: #FFD700;
}
.change:hover #silver{
    color: #BFC1C2;
}
.clear{
    clear: both;
}



